html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden; /* Evita el scroll horizontal */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background: linear-gradient(147deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  /*background-image: url("/public/backgrounds-Cyv-world.png");
  background-repeat: no-repeat;
background-size: cover;
background-position: center;
  /*background: linear-gradient(153deg,rgba(2, 0, 36, 1) 32%, rgba(9, 9, 121, 1) 70%, rgba(0, 255, 179, 1) 100%);
*/}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}

.heroSection{
width: 80%;
border-radius: 20px;
align-items: center;
background: rgba(255, 255, 255, 0.2);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
margin-top: 30px;
padding-top: 20px;
padding-bottom: 25px;

}

.heroTittle{
  font-size: 48px;
  color: white;
}