.contenedorProductos{
    text-align: center;
    justify-content: center;
    color: white;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Se adapta al tamaño */
        gap: 20px;
        padding: 20px;
      width: 80%;
}