.check-container {
    width: 80%;
    background: rgba(255, 255, 255, 0.2);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 2px solid rgba(255, 255, 255, 0.144);
padding: 10px;
border-radius: 25px;
margin-top: 50px;
color: white;
align-items: center;
}

.check-container label{

    
    color: rgba(255, 255, 255, 0.603);
    padding: 10px;
} 

.check-container input{
    margin-top: 10px;
        border-radius: 10px;
    border: none;
    padding: 5px;
}

.check-container button {

    margin-top: 25px;
    margin-bottom: 15px;
}